<lasso-page package-path="./browser.json"/>

<layout-use("src/layouts/default/template.marko") active-section=data.activeSection>
    <layout-put into="title">
        Home
    </layout-put>
    <layout-put into="content">
        This is the content for the Home page!
    </layout-put>
</layout-use>